@charset "UTF-8";

#content 
{
    width: 80%; /* Or any fixed width like 960px */
    margin: 0 auto; /* This is the key for horizontal centering */
    display: block; /* Ensures the div behaves as a block-level element */
    /* Optional: Add padding, background-color, etc. for visual styling */
    padding: 20px;
    background-color: rgb(237, 242, 243);
}

#inputField 
{
  padding-left: 40px;
}

body 
{
  font-family: arial;
}

table, th, td {
  border: 1px solid black;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
